In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.1'

In [3]:
print(pd.show_versions())

C:\Users\dell\anaconda3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 37ea63d540fd27274cad6585082c91b1283f963d
python           : 3.10.9.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22621
machine          : AMD64
processor        : Intel64 Family 6 Model 140 Stepping 1, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 2.0.1
numpy            : 1.24.3
pytz             : 2022.7
dateutil         : 2.8.2
setuptools       : 65.6.3
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.2
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.12.0
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : None
numba            : None
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.1.2
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : None
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
zstandard        : 0.19.0
tzdata           : 2023.3
qtpy             : 2.2.0
pyqt5            : None
None

In [4]:
!pip install pandas --quiet

In [5]:
import numpy as np
np.__version__

'1.24.3'

In [6]:
from pathlib import Path

In [7]:
pd.__version__

'2.0.1'

In [12]:
filepath=Path(".\movieboxoffice.csv")

In [13]:
ts=pd.read_csv(filepath)
ts

,Date,DOW,Rank,Daily,Percent Change,Diff (k),Forecast,Percent Diff,Theaters,To Date,Row ID
0,26-Apr-21,Friday,1,"$125,789.89",NaN,-,"$235,036.46",-46.48%,1000,"$125,789.89",1
1,27-Apr-21,Saturday,1,"$99,374.01",79.00%,-26416,"$197,622.55",-49.72%,1000,"$225,163.90",2
2,28-Apr-21,Sunday,1,"$82,203.16",82.72%,-17171,"$116,991.26",-29.74%,1000,"$307,367.06",3
3,29-Apr-21,Monday,1,"$33,530.26",40.79%,-48673,"$66,652.65",-49.69%,1000,"$340,897.32",4
4,30-Apr-21,Tuesday,1,"$30,105.24",89.79%,-3425,"$34,828.19",-13.56%,1000,"$371,002.56",5
...,...,...,...,...,...,...,...,...,...,...,...
123,27-Aug-21,Tuesday,42,$0.00,29.03%,0,$0.01,-45.07%,100,"$752,143.86",124
124,28-Aug-21,Wednesday,43,$0.00,49.60%,0,$0.00,-32.94%,100,"$752,143.87",125
125,29-Aug-21,Thursday,42,$0.00,29.03%,0,$0.00,-38.06%,100,"$752,143.87",126
126,30-Aug-21,Friday,36,$0.00,49.60%,0,$0.00,-24.58%,100,"$752,143.87",127
127,31-Aug-21,Saturday,34,$0.00,29.03%,0,$0.00,-49.77%,100,"$752,143.87",128

In [15]:
df=pd.read_csv(filepath,header=0,parse_dates=[1],index_col=0,usecols=['Date','DOW','Daily','Forecast','Percent Diff'])
df.head()

C:\Users\dell\AppData\Local\Temp\ipykernel_11544\2101348443.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df=pd.read_csv(filepath,header=0,parse_dates=[2],index_col=4,usecols=['Date','DOW','Daily','Forecast','Percent Diff'])

                   Date       DOW          Daily       Forecast
Percent Diff
-46.48%       26-Apr-21    Friday   $125,789.89    $235,036.46
-49.72%       27-Apr-21  Saturday    $99,374.01    $197,622.55
-29.74%       28-Apr-21    Sunday    $82,203.16    $116,991.26
-49.69%       29-Apr-21    Monday    $33,530.26     $66,652.65
-13.56%       30-Apr-21   Tuesday    $30,105.24     $34,828.19

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

In [91]:
df.describe()

           DOW    Daily Forecast Percent Diff
count      128      128      128          128
unique       7      123      124          128
top     Friday   $0.00    $0.00       -46.48%
freq        19        5        4            1

In [92]:
a="$239,300.0"
a=a.replace("$","")
a=a.replace(",","")
a
a=float(a)
a

239300.0

In [17]:
clean = lambda x: x.replace('[^\d]', "" , regex=True)

temp_df=df[['Daily','Forecast']].apply(clean,axis=1)
temp_df

                 Daily  Forecast
Percent Diff
-46.48%       12578989  23503646
-49.72%        9937401  19762255
-29.74%        8220316  11699126
-49.69%        3353026   6665265
-13.56%        3010524   3482819
...                ...       ...
-45.07%            000       001
-32.94%            000       000
-38.06%            000       000
-24.58%            000       000
-49.77%            000       000

[128 rows x 2 columns]

In [18]:
temp_df.dtypes

Daily       object
Forecast    object
dtype: object

In [36]:
import openpyxl

openpyxl.__version__

'3.1.2'

In [37]:
import  lxml
lxml.__version__

'4.9.2'

In [21]:
# Lambda function
x=lambda a: a+10
print(x(10))

20

In [22]:
x= lambda a,b: a*b
print(x(2,5))

10

In [23]:
x=lambda a,b,c:(a+b+c)**2
print(x(2,2,2))

36

In [24]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [25]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [26]:
mydata={
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]
}
df=pd.DataFrame(mydata)
df

   A  B    C
0  1  a  1.1
1  2  b  1.0
2  3  c  1.3
3  4  d    2
4  5  e    5

In [27]:
print(df.dtypes)

A     int64
B    object
C    object
dtype: object

In [28]:
df['C']=  df.C.astype(float)
df

   A  B    C
0  1  a  1.1
1  2  b  1.0
2  3  c  1.3
3  4  d  2.0
4  5  e  5.0

In [29]:
print(df.dtypes)

A      int64
B     object
C    float64
dtype: object

In [30]:


df = pd.DataFrame({
   'A': [1, 2, 4.56, 4, 5],
   'B': ['a', 'b', 'c', 'd', 'e'],
   'C': [1.1, '1.0', '1.3', 2, 5]})

# using dictionary to convert specific columns
convert_dict = {
    'A':int,
    'C': float}

df = df.astype(convert_dict)
print(df.dtypes)

A      int32
B     object
C    float64
dtype: object

In [31]:
df

   A  B    C
0  1  a  1.1
1  2  b  1.0
2  4  c  1.3
3  4  d  2.0
4  5  e  5.0

In [32]:

# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1']})
 
# using apply method
df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric)  #  pandas.to_numeric, pandas.to_datetime, and pandas.to_timedelta
print(df.dtypes)

A      int64
B     object
C    float64
dtype: object

In [83]:
import openpyxl 
path=Path(".\boxoffice_by_month.xlsx")

In [84]:
excelfile=pd.ExcelFile(filepath)
excelfile.sheet_names

['April', 'August', 'July', 'June', 'May']

In [85]:
df=excelfile.parse('July')
df

         Date      Daily Month
0  2021-07-01   $578.32   July
1  2021-07-02   $386.08   July
2  2021-07-03   $409.16   July
3  2021-07-04   $512.57   July
4  2021-07-05   $693.22   July
5  2021-07-06   $777.98   July
6  2021-07-07   $525.73   July
7  2021-07-08   $239.25   July
8  2021-07-09   $316.44   July
9  2021-07-10   $234.88   July
10 2021-07-11   $214.09   July
11 2021-07-12   $358.82   July
12 2021-07-13   $495.82   July
13 2021-07-14   $386.69   July
14 2021-07-15   $191.04   July
15 2021-07-16   $249.41   July
16 2021-07-17   $197.38   July
17 2021-07-18   $153.44   July
18 2021-07-19   $249.68   July
19 2021-07-20   $318.39   July
20 2021-07-21   $238.63   July
21 2021-07-22   $132.52   July
22 2021-07-23   $155.97   July
23 2021-07-24   $132.47   July
24 2021-07-25   $125.49   July
25 2021-07-26   $139.87   July
26 2021-07-27   $192.14   July
27 2021-07-28   $111.00   July
28 2021-07-29    $57.23   July
29 2021-07-30    $66.29   July
30 2021-07-31    $48.06   July

In [64]:
ts=pd.read_excel(filepath ,index_col=0,sheet_name=None,parse_dates=['Date'])
ts.keys()

dict_keys(['April', 'August', 'July', 'June', 'May'])

In [86]:
ts['July'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31 entries, 2021-07-01 to 2021-07-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Daily   31 non-null     object
 1   Month   31 non-null     object
dtypes: object(2)
memory usage: 744.0+ bytes

In [69]:
ts['May'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31 entries, 2021-05-01 to 2021-05-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Daily   31 non-null     object
 1   Month   31 non-null     object
dtypes: object(2)
memory usage: 744.0+ bytes

In [87]:
ts_combined=pd.concat([ts['July'],ts['May']])
ts_combined

                  Daily Month
Date
2021-07-01     $578.32   July
2021-07-02     $386.08   July
2021-07-03     $409.16   July
2021-07-04     $512.57   July
2021-07-05     $693.22   July
...                 ...   ...
2021-05-27   $4,312.33    May
2021-05-28   $1,652.02    May
2021-05-29   $1,137.74    May
2021-05-30   $1,000.02    May
2021-05-31   $1,819.52    May

[62 rows x 2 columns]

In [88]:
ts_combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 62 entries, 2021-07-01 to 2021-05-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Daily   62 non-null     object
 1   Month   62 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [89]:
ts_all_combined=pd.concat(ts)
ts_all_combined.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 128 entries, ('April', Timestamp('2021-04-26 00:00:00')) to ('May', Timestamp('2021-05-31 00:00:00'))
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Daily   128 non-null    object
 1   Month   128 non-null    object
dtypes: object(2)
memory usage: 7.7+ KB

In [78]:
ts_all_combined

                          Daily  Month
      Date
April 2021-04-26   $125,789.89   April
      2021-04-27    $99,374.01   April
      2021-04-28    $82,203.16   April
      2021-04-29    $33,530.26   April
      2021-04-30    $30,105.24   April
...                         ...    ...
May   2021-05-27     $4,312.33     May
      2021-05-28     $1,652.02     May
      2021-05-29     $1,137.74     May
      2021-05-30     $1,000.02     May
      2021-05-31     $1,819.52     May

[128 rows x 2 columns]

In [90]:
ts_all_combined=ts_all_combined.droplevel(0)
ts_all_combined

                    Daily  Month
Date
2021-04-26   $125,789.89   April
2021-04-27    $99,374.01   April
2021-04-28    $82,203.16   April
2021-04-29    $33,530.26   April
2021-04-30    $30,105.24   April
...                   ...    ...
2021-05-27     $4,312.33     May
2021-05-28     $1,652.02     May
2021-05-29     $1,137.74     May
2021-05-30     $1,000.02     May
2021-05-31     $1,819.52     May

[128 rows x 2 columns]